.item img {
	width: 100%;
}

.right-item h4, .right-item h5, .right-item p {
	text-align: right;
}

.left-item h4, .left-item h5, .left-item p {
	text-align: left;
}

.details-page .gallery-item {
	max-width: 35%;
}

.details-page .gallery-item .gallery-image {
	max-width: 100%;
}

.details-page .gallery-item.image-left {
	float: left;
}

.details-page .gallery-item.image-right {
	float: right;
}