@font-face {
	font-family:"Agenda";
	src: url('../../_includes/fonts/AgendaMedium.ttf');
}

@font-face {
	font-family: "Segoe UI Semibold";
	src: url('../../_includes/fonts/SegoeUISemibold.ttf');
}

@font-face {
	font-family: "Segoe UI Black";
	src: url('../../_includes/fonts/SegoeUIBlack.ttf');
}

@font-face {
	font-family: "Segoe UI Light";
	src: url('../../_includes/fonts/SegoeUILight.ttf');
}

body {
	background-color: #26163b;
}

::selection {
	background: #E1D4F1;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.banner-image {
	background: url('../img/banner-image-02.jpg') no-repeat center center local;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	z-index:10;
}

#main {
	position: absolute;
	top: 0px;
	width:100%
}

#overlay {
	background-color: #362946;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:2;
}

.row-no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.banner-container {
	position: relative;
	right:100px;
	top:150px;
}

.banner-content {
	position:absolute;
	right:0px;
	top:0px;
	text-align:right;
	font-family: Agenda, "Arial", sans-serif;
}

.banner-content h1 {
	color:#E1D4F1;
	font-size:5.0em;
	font-weight:bold;
    text-shadow: 2px 2px 10px #1B1C1C;
}

.banner-content h2 {
	color:#FFFFFF;
	font-size:2.3em;
    text-shadow: 2px 2px 10px #1B1C1C;
}

.white-area {
	background-color: #FFFFFF;
	padding-bottom:  2.0em;
}

.purple-area {
	background-color: #D4B8F8;
	padding-bottom: 2.0em;
}

.dark-grey-area, .dark-grey-area a {
	background-color:#262626;
	color:#FFFFFF;
	padding-bottom:2.0em;
}

.content-area {
	max-width:65%;
	margin-left: auto;
	margin-right: auto;

	font-family:"Segoe UI Semibold", "Arial", sans-serif;
	margin-bottom:1.5em;
}

.content-area h4, .content-area p {
	color: #333333;
}

.content-area .item-date {
	font-size: 1.05em;
	font-family: "Segoe UI Light", "Arial", sans-serif;
}

.content-area p {
	font-family: "Segoe UI Light","Arial", sans-serif;
	font-size:1.2em;
	text-align: center;
}

.content-area ul {
	font-family: "Segoe UI Light", "Arial", sans-serif;
	font-size:1.3em;
}

.view-details {
	padding: 20px 20px 20px 20px;
	background-color:#9570D9;
	color:#000000;

	font-family:"Segoe UI Semibold","Arial", sans-serif;
	font-size:1.1em;
	text-align: center;

	display:block;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:1.2em;

	text-decoration: none;
}

.view-details:hover {
	color:#D4B8F8;
	text-decoration: underline;
}

/** Contact Form **/
.form-component {
	margin-bottom: 1.0em;
}

.form-component .form-control {
	border-radius: 0px;
	border: 1px solid #A9A9A9;
	background-color: #D9D9D9;
}

.form-component label {
	font-size: 0.9em;
}

.form-component textarea.form-control {
	height: 140px;
}

.form-component select {
	appearance: menulist;
}

.validation-asterisk, .validation-error {
	color:#FF0000;
	font-size: 0.8em;
	display: inline-block;
}

.validation-error {
	float: right;
}

.form-component input[type=submit] {
	background-color:#9570D9;
	color:#000000;
	border:0px;
}

/** Pagination **/
.pagination {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.pagination ul {
	list-style-type: none;
	font-family: "Segoe UI Semibold", "Arial", sans-serif;
	text-align: center;
	padding-left: 0px;
}

.pagination ul li {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image:url('../../_includes/img/pagination-icon.jpg');
	/*background-position: 0px 0px;
	margin-bottom:10px;*/
}

.pagination ul li:hover {
	background-image:url('../../_includes/img/pagination-icon.jpg');
	background-position: 50px 0px;
}

.pagination ul li a {
	color: #FFFFFF;
	display: block;
	padding-top: 10px;
	text-decoration: none;
	font-size: 0.9em;
}

.pagination ul li a:hover {
	text-decoration: underline;
}

/** Footer **/
footer {
	font-family: "Segoe UI Semibold", "Arial", sans-serif;
	padding: 0.8em 0.8em 0.8em 0.8em;
	font-size: 0.9em;
}

footer li a {
	text-decoration: none;
}

footer li a:hover {
	color: #D1D1D1;
}

footer .footer-links {
	padding-left: 0;
	list-style-type: none;
}

footer .footer-links li {
	display: inline;
}

footer .footer-links li::after {
	content: '\2219';
}

footer .footer-links li.last::after {
	content: '';
}

footer .left-footer {
	width: 40%;
	float: left;
}

footer .right-footer {
	width: 40%;
	float: right;
	text-align: right;
}

#mobile-menu {
	display: none;
}