@font-face {
	font-family:"Agenda";
	src: url('../../_includes/fonts/AgendaMedium.ttf');
}

@font-face {
	font-family: "Segoe UI Semibold";
	src: url('../../_includes/fonts/SegoeUISemibold.ttf');
}

@font-face {
	font-family: "Segoe UI Black";
	src: url('../../_includes/fonts/SegoeUIBlack.ttf');
}

@font-face {
	font-family: "Segoe UI Light";
	src: url('../../_includes/fonts/SegoeUILight.ttf');
}

body {
	background-color: #26163b;
}

.outer-banner-container {
    display: block;
    position: relative;
    width: 100%;
    z-index: 100;
}

.flyout-map {
	background-color:#FFFFFF;
	z-index:200;
	position:relative;
	width:100%;
	height:200px;
}

.banner-image {
	background: url('../../_includes/img/banner-image-02.jpg') no-repeat center center local;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	z-index:10;
}

.navbar-default {
	position: absolute;
	z-index: 110;
	border-radius: 0px;
	border:0px;
	font-family: Agenda, "Arial", sans-serif;
	font-size:1.2em;
}

.navbar-default .navbar-nav > li > a {
	color:#FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
	color:#FFFFFF;
	text-decoration: underline;
}

.navbar-default .navbar-nav > li > a:visited {
	color:#FFFFFF;
}

.navbar-default .navbar-nav .standout-item a {
	color:#FFFFFF;
	font-size:20px;
}

.navbar-toggle {
	border: 2px solid #635087;
	float:left;
	background-color: #FFFFFF;
}

.navbar-toggle span{
	border: 2px solid #FFFFFF;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top:5px;
}

.navbar-toggle .first-icon-bar {
	margin-top: 0px;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle span {
	border:2px solid #635087;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #4B168C;
}

.navbar-header .navbar-brand {
	display: none;
}

.navbar-header .navbar-header-right {
	display: none;
}

.nav-item .dropdown .open, .nav .open > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus {
	color:white;
	background-color:rgba(54,41,70,0.9)
}

#main {
	position: absolute;
	width:100%
}

.row-no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.homepage .banner-image {
	position: static;
	top:0px;
	width: 100%;
}

.homepage .banner-image img {
	padding-left:0px;
	width:100%;
}

.banner-content {
	position:absolute;
	right:0px;
	top:0px;
	text-align:right;
	font-family: Agenda, "Arial", sans-serif;
}

.banner-content h1 {
	color:#E1D4F1;
	font-size:5.0em;
	font-weight:bold;
    text-shadow: 2px 2px 10px #1B1C1C;
}

.banner-content h2 {
	color:#FFFFFF;
	font-size:2.3em;
    text-shadow: 2px 2px 10px #1B1C1C;
}

.white-area {
	background-color: #FFFFFF;
	padding-bottom: 2.0em;
}

.purple-area {
	background-color: #D4B8F8;
	padding-bottom: 2.0em;
}

.dark-grey-area, .dark-grey-area a {
	background-color:#262626;
	color:#FFFFFF;
	padding-bottom:2.0em;
}

.content-area {
	max-width:65%;
	margin-left: auto;
	margin-right: auto;

	font-family:"Segoe UI Semibold", "Arial", sans-serif;
	margin-bottom:1.5em;
}

.content-area p{
	font-family: "Segoe UI Light","Arial", sans-serif;
	font-size:1.4em;
	text-align: center;
}

.content-area ul {
	font-family: "Segoe UI Light","Arial", sans-serif;
	font-size:1.4em;
	margin-bottom: 2.0em;
}

.content-area ul li ul {
	font-size:1.0em;
	margin-bottom: 0em;
}

.content-area ul.last-list {
	margin-bottom: 0.5em;
}

.content-area.no-title {
	padding-top:2.5em;
}

.content-area.large-padding {
	margin-top:7.0em;
}

.form-component .validation-error {
    float: right;
    color: red;
    font-family: "Segoe UI";
}

.view-details {
	padding: 20px 20px 20px 20px;
	background-color:#9570D9;
	color:#000000;

	font-family:"Segoe UI Semibold","Arial", sans-serif;
	font-size:1.3em;
	text-align: center;

	display:block;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:1.2em;
}

.view-details:hover {
	color:#D4B8F8;
}

/* Generic Pagination */
.pagination {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.pagination ul {
	list-style-type: none;
	font-family:"Segoe UI Semibold","Arial", sans-serif;
	text-align: center;
	padding-left:0px;
}

.pagination ul li {
	display: inline-block;
	width:50px;
	height:50px;
	background-image:url('../../_includes/img/pagination-icon.jpg');
	background-position: 0px 0px;
	margin-bottom:10px;
}

.pagination ul li:hover {
	background-image:url('../../_includes/img/pagination-icon.jpg');
	background-position: 50px 0px;
}

.pagination ul li a {
	color: #FFFFFF;
	display: block;
	padding-top:10px;
}

.form-component {
	margin-bottom:0.8em;
}

.form-component .validation-asterisk {
	color:#FF0000;
	font-weight:bold;
}

.form-component label {
	font-size:1.2em;
}

.form-component input, .form-component select, .form-component textarea {
	width:100%;
	height:38px;
	background-color:#D9D9D9;
	padding:5px 5px 5px 5px;
}

.form-component input {
	border:1px solid #A9A9A9;
}

.form-component textarea {
	height:140px;
}

.form-component input[type=submit] {
	background-color:#9570D9;
	color:#000000;
	border:0px;
}

.details-image {
	width:100%;
	height:auto;
}

footer {
	font-family: "Segoe UI Semibold", "Arial", sans-serif;
	font-size:1.0em;
	padding: 0.8em 0.8em 0.8em 0.8em;
}

footer .footer-links {
	list-style-type: none;
}

footer .footer-links li {
	display:inline;
}

footer .footer-links li::after {
	content:'\2219';
}

footer .footer-links li.last::after {
	content:'';
}

footer .left-footer {
	width:40%;
	float:left;
}

footer .right-footer {
	width: 40%;
	float:right;
	text-align:right;
}

/* Lightbox Modals */
.close, .close:hover {
	font-size:3.0em;
	color:#FFFFFF;
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	display:block;
}

/* Mobile navigation */
#menu {
	background-color:#26163b;
	width:260px;
}

#menu ul {
	list-style-type: none;
	padding:0px;
}

#menu ul li {
	font-size:1.4em;
	border:1px solid #DABBFF;
	padding:5px 5px 5px 5px;
}

#menu ul li, #menu ul li a {
	font-family: "Segoe UI Light", "Arial", sans-serif;
	color:#FFFFFF;

	margin:0px;
}

#menu ul li.brand {
	font-family: Agenda, "Arial", sans-serif;
	font-weight:bold;
	padding-top: 15px;
	padding-bottom: 15px;
}

#menu ul li.brand .brand-header{
	display: block;
	font-size:1.5em;
}

#menu ul li.brand .brand-tagline{
	font-size:1.0em;
	font-weight: normal;
}

#menu ul li.home {
	background-color: #4B168C;
}

#menu ul li a {
	display:block;
}

#menu .mobile-sub-menu {
	font-size:0.6em;
}

#menu .mobile-sub-menu li {
	border:0px;
}
/* End Mobile Navigation */