@font-face {
	font-family:"Agenda";
	src: url('../../_includes/fonts/AgendaMedium.ttf');
}

@font-face {
	font-family: "Segoe UI Semibold";
	src: url('../../_includes/fonts/SegoeUISemibold.ttf');
}

@font-face {
	font-family: "Segoe UI Black";
	src: url('../../_includes/fonts/SegoeUIBlack.ttf');
}

@font-face {
	font-family: "Segoe UI Light";
	src: url('../../_includes/fonts/SegoeUILight.ttf');
}

body {
	background-color: #26163b;
}

::selection {
	background: #E1D4F1;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.banner-image {
	background: url('../img/banner-image-02.jpg') no-repeat center center local;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	z-index:10;
}

#main {
	position: absolute;
	width:100%
}

.row-no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.banner-container {
	position: relative;
	right:100px;
	top:150px;
}

.banner-content {
	position:absolute;
	right:0px;
	top:0px;
	text-align:right;
	font-family: Agenda, "Arial", sans-serif;
}

.banner-content h1 {
	color:#E1D4F1;
	font-size:5.0em;
	font-weight:bold;
    text-shadow: 2px 2px 10px #1B1C1C;
}

.banner-content h2 {
	color:#FFFFFF;
	font-size:2.3em;
    text-shadow: 2px 2px 10px #1B1C1C;
}

.white-area {
	background-color: #FFFFFF;
	padding-bottom:  2.0em;
}

.purple-area {
	background-color: #D4B8F8;
	padding-bottom: 2.0em;
}

.dark-grey-area, .dark-grey-area a {
	background-color:#262626;
	color:#FFFFFF;
	padding-bottom:2.0em;
}

.content-area {
	max-width:65%;
	margin-left: auto;
	margin-right: auto;

	font-family:"Segoe UI Semibold", "Arial", sans-serif;
	margin-bottom:1.5em;
}

.content-area h4, .content-area p {
	color: #333333;
}

.content-area .item-date {
	font-size: 1.05em;
	font-family: "Segoe UI Light", "Arial", sans-serif;
}

.content-area p {
	font-family: "Segoe UI Light","Arial", sans-serif;
	font-size:1.2em;
	text-align: center;
}

.content-area ul {
	font-family: "Segoe UI Light", "Arial", sans-serif;
	font-size:1.3em;
}

.view-details {
	padding: 20px 20px 20px 20px;
	background-color:#9570D9;
	color:#000000;

	font-family:"Segoe UI Semibold","Arial", sans-serif;
	font-size:1.1em;
	text-align: center;

	display:block;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:1.2em;

	text-decoration: none;
}

.view-details:hover {
	color:#D4B8F8;
	text-decoration: underline;
}