.flyout-map {
	background-color: #262626;
}

.close, .close:hover {
	font-size:3.0em;
	color:#FFFFFF;
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	display:block;
}

#flyout-map-area {
	background-color:white;
	height:400px;
	margin-right:-15px;
	margin-bottom:-15px;
}

.recent-chases {
	background-color:#413745;
}

.control-panel {
	font-family: "Agenda", "Arial", sans-serif;
}

.control-panel h3 {
	color:#FFFFFF;
	margin-top:20px;
	margin-bottom:20px;
}

.form-check-label {
	color:#C4C4C4;
	font-size:1.2em;
	font-weight:400;
	display:inline;
}

.marker {
  background-image: url('../img/map-pin.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  top:-12px !important;
}

.sub-checkboxes {
	font-size:0.9em;
	background-color:#695c6e;
}

.sub-checkboxes .form-check-input {
	margin-left:25px;
}