.flyout-map {
	background-color: #262626;
	position: absolute;
}

.flyout-map button {
	margin: 5px;
}

#flyout-map-area {
	background-color:white;
	height:400px;
	margin-right:-12px;
	margin-bottom:-15px;
}

.recent-chases {
	background-color: #413745;
}

.control-panel {
	font-family: "Agenda", "Arial", sans-serif;
}

.control-panel h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-check-label {
	color: #C4C4C4;
	font-size: 1.1em;
	font-weight: 400;
	width: 265px;
	display: inline-block;
}

.sub-checkboxes {
	font-size: 0.9em;
	background-color: #695C6E;
}

.sub-checkboxes .form-check-label {
	width: 190px;
}

.sub-checkboxes .form-check {
	padding-left: 0px;
}

.sub-checkboxes .form-check:first-child {
	padding-top: 10px;
}

.sub-checkboxes .form-check:last-child {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.sub-checkboxes .form-check-input {
	margin-left: 10px;
	margin-right: 10px;
}

.sub-checkboxes .storm-chase-checkbox-label {
	display: inline-block;
}

.map-line-colour {
	width: 75px;
	display: inline-block;
	height: 15px;
}

.map-line-colour-marker {
	height: 10px;
	width: 35px;
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
}

/*.control-panel .glyphicon-triangle-bottom {
	color:#C4C4C4;
	font-size:0.8em;
	float:right;
	top:5px;
}*/

/*.close, .close:hover {
	font-size:3.0em;
	color:#FFFFFF;
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	display:block;
}*/

.close {
	float:right;
	font-size:3.0em;
	background-color: transparent;
	border: none;
	color:#FFFFFF;
	font-weight:700;
	opacity:0.2;
}

.close {
	float:right;
	font-size:3.0em;
	font-weight:bold;
	opacity:0.2;
	margin-top:20px;
	margin-right:20px;
	margin-bottom: 20px;
}

.close:hover {
	opacity: 1;
	color: #FFFFFF;
}

.close span {
}