.gallery .content-area {
	max-width:80%;
}

.gallery-item {
	overflow:hidden;
}

.gallery-item img {
	max-width:100%;
	height:auto;
}

 .form-group button[type=submit] {
	background-color:#9570D9;
	color:#000000;
	border:0px;
	width:100%;
	border-radius:0px;
 }

 .gallery form {
 	margin-top:45px;
 }

 .gallery-title {
    display:none;
    background-color:#FFFFFF;
    opacity:0.5;
    position:relative;
    top:50%;
 }