.homepage .banner-image {
	position: static;
	top:0px;
	width: 100%;
}

.homepage .banner-image img {
	padding-left:0px;
	width:100%;
}

/* Latest Project */
.content-area .latest-project {
	text-align: right;
	margin-bottom:2.5em;
}

.content-area h4 {
	font-size:1.4em;
}

.content-area .latest-project p {
	text-align: right;
}

.content-area .latest-blog p {
	text-align: left;
}

.content-area .latest-project .project-image img, .content-area .latest-blog .blog-image img {
	width:100%;
	height:auto;
}