@media only screen and (max-width: 991px) {
	.image-holder {
		max-width: 80%;
		margin-top: 14.0em; /*temporary*/
		max-height: 450px;
	}

	.gallery-controls {
		font-size: 3em;
	}

	.gallery-controls-left {
		left: 3%;
	}

	.gallery-controls-right {
		right: 3%;
	}

	.gallery-details .gallery-item img {
		max-width: 100%;
	}

	#lightbox-gallery-image {
		max-height: 49vh;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}