@media only screen and (max-width: 600px) {
	/** Homepage **/
	.homepage .banner-image {
		background: url(../../_includes/img/banner-image-02.jpg) no-repeat -650px center local;
		background-size: cover;
	}

	.content-area .desktop-image {
		display: none;
	}

	.content-area .mobile-image {
		display: block;
	}

	.content-area .latest-project, .content-area .latest-blog {
		margin-bottom: 0em;
	}
	
	.latest-project h4, .latest-project h5 {
		text-align: center;
	}

	.latest-project .item-no-padding, .latest-blog .item-no-padding {
		padding-left: 0px;
		padding-right: 0px;
	}

	.content-area .latest-project h4,
	.content-area .latest-project h5,
	.content-area .latest-project p,
	.content-area .latest-blog h4,
	.content-area .latest-blog h5,
	.content-area .latest-blog p {
		text-align: center;
	}

	.content-area .latest-project h4,
	.content-area .latest-blog h4 {
		margin-top: 1.0em;
	}

	.homepage .validation-error {
		float: none;
	}
}

@media only screen and (min-width:  992px) {
	.homepage .mobile-image {
		display: none;
	}
}