@media only screen and (max-width: 991px) {
	#mobile-menu .menu-header {
		font-family: Agenda, "Arial", sans-serif;
		color: #E1D4F1;
	}

	#mobile-menu .menu-header h3 {
	    font-size: 1.5em;
	    font-weight: bold;
	}

	#mobile-menu a {
		color: white;
		text-decoration: none;
	}

	#mobile-menu li a:hover {
		text-decoration: underline;
	}

	#mobile-menu ul {
		list-style-type: none;
		padding-left: 10px;
	}

	#mobile-menu ul li {
		font-size: 1.1em;
	}

	#mobile-menu ul li a {
		font-weight: bold;
	}

	#mobile-menu ul li ul {
	}

	#mobile-menu ul li ul li {
		font-size: 0.9em;
	}

	#mobile-menu ul li ul li a {
		font-weight: normal;
	}
}